{
  "openapi": "3.1.0",
  "info": {
    "title": "wichaa API",
    "version": "1.0.0",
    "description": "Read-only research corpus of Northern Thai (Lanna) manuscripts and the living wichaa tradition. All endpoints are static JSON, GET-only, no auth, CORS-open.",
    "license": {
      "name": "CC-BY 4.0",
      "url": "https://creativecommons.org/licenses/by/4.0/"
    },
    "contact": {
      "email": "530kings@proton.me"
    }
  },
  "servers": [
    {
      "url": "https://wichaa.net/api"
    }
  ],
  "paths": {
    "/overview.json": {
      "get": {
        "summary": "Corpus overview",
        "description": "Counts and facets across the whole collection.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/manuscripts.json": {
      "get": {
        "summary": "All manuscripts",
        "description": "The full manuscript list.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/manuscript/{id}.json": {
      "get": {
        "summary": "Manuscript detail",
        "description": "One manuscript: metadata, images, IIIF links, OCR where present.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {}
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "manuscript id"
          }
        ]
      }
    },
    "/articles.json": {
      "get": {
        "summary": "Articles index",
        "description": "Index of synthesised subject articles.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/article/{slug}.json": {
      "get": {
        "summary": "Article",
        "description": "One article: authored prose + live-computed profile + connections.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {}
            }
          }
        },
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "article slug, e.g. genre_astrology or entity_lersi"
          }
        ]
      }
    },
    "/graph.jsonld": {
      "get": {
        "summary": "Knowledge graph (JSON-LD)",
        "description": "Typed entity relations as linked data.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/market.json": {
      "get": {
        "summary": "Living market",
        "description": "Contemporary commerce layer.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/places.json": {
      "get": {
        "summary": "Places",
        "description": "Provenance provinces with counts and coordinates.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/vocab.json": {
      "get": {
        "summary": "Vocabulary",
        "description": "Controlled vocabulary with corpus counts.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/thesaurus.json": {
      "get": {
        "summary": "Thesaurus",
        "description": "Bilingual query-token expansion groups.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/index.json": {
      "get": {
        "summary": "API index",
        "description": "Self-describing manifest of all endpoints.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/activity.json": {
      "get": {
        "summary": "Snapshot of recent pipeline activity as of build time.",
        "description": "Snapshot of recent pipeline activity as of build time.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/articles.json": {
      "get": {
        "summary": "Index of synthesised subject articles (genre/entity/subgenre).",
        "description": "Index of synthesised subject articles (genre/entity/subgenre).",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/coverage.json": {
      "get": {
        "summary": "What has been looked for, where, by what method — so an absence can be read. Distinguishes",
        "description": "What has been looked for, where, by what method — so an absence can be read. Distinguishes out-of-scope from not-in-the-source from simply unwritten, which need three different responses.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/dashboard.json": {
      "get": {
        "summary": "Genre coverage vs digitisation.",
        "description": "Genre coverage vs digitisation.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/diagrams.json": {
      "get": {
        "summary": "Diagram and figure pages across the corpus (yantra, stencils, charts).",
        "description": "Diagram and figure pages across the corpus (yantra, stencils, charts).",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/expedite.json": {
      "get": {
        "summary": "St. Expedite: shrines and churches of a global saint-cult.",
        "description": "St. Expedite: shrines and churches of a global saint-cult.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/findings.json": {
      "get": {
        "summary": "Discoveries — machine-surfaced findings from the corpus.",
        "description": "Discoveries — machine-surfaced findings from the corpus.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/gallery.json": {
      "get": {
        "summary": "Gallery data.",
        "description": "Gallery data.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/gallery.scan-index.json": {
      "get": {
        "summary": "Index of raw folio scans for the gallery.",
        "description": "Index of raw folio scans for the gallery.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/graph.json": {
      "get": {
        "summary": "Knowledge graph as nodes + typed links (app format).",
        "description": "Knowledge graph as nodes + typed links (app format).",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/graph.jsonld": {
      "get": {
        "summary": "Knowledge graph as JSON-LD (schema.org / linked data).",
        "description": "Knowledge graph as JSON-LD (schema.org / linked data).",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/ld+json": {}
            }
          }
        }
      }
    },
    "/api/graph.ttl": {
      "get": {
        "summary": "Knowledge graph as RDF Turtle.",
        "description": "Knowledge graph as RDF Turtle.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/turtle": {}
            }
          }
        }
      }
    },
    "/api/img-iiif.json": {
      "get": {
        "summary": "Map of image sha256 → IIIF image URL (on-demand page images).",
        "description": "Map of image sha256 → IIIF image URL (on-demand page images).",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/index.json": {
      "get": {
        "summary": "This document.",
        "description": "This document.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/lenses.json": {
      "get": {
        "summary": "Lens registry — the facet/marker definitions the atlas renders by.",
        "description": "Lens registry — the facet/marker definitions the atlas renders by.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/manuscripts.json": {
      "get": {
        "summary": "The full manuscript list (array of summaries).",
        "description": "The full manuscript list (array of summaries).",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/market.json": {
      "get": {
        "summary": "Living-market commerce layer (amulets and sacred objects trading today).",
        "description": "Living-market commerce layer (amulets and sacred objects trading today).",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/overview.json": {
      "get": {
        "summary": "Corpus-wide counts and facet breakdowns.",
        "description": "Corpus-wide counts and facet breakdowns.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/pages.json": {
      "get": {
        "summary": "Manifest of every page this build emitted (route, label, kind).",
        "description": "Manifest of every page this build emitted (route, label, kind).",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/place-types.json": {
      "get": {
        "summary": "The emic vocabulary. ศาลพระภูมิ (guardian of the land) and ศาลเจ้าที่ (spirit of the place",
        "description": "The emic vocabulary. ศาลพระภูมิ (guardian of the land) and ศาลเจ้าที่ (spirit of the place) are different things that stand a metre apart; the English gloss is a convenience and carries no authority. Each term declares its own confidence.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/places.json": {
      "get": {
        "summary": "Provenance provinces with counts and map coordinates.",
        "description": "Provenance provinces with counts and map coordinates.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/status.json": {
      "get": {
        "summary": "Crawl/source status.",
        "description": "Crawl/source status.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/vocab.json": {
      "get": {
        "summary": "Controlled vocabulary with corpus counts.",
        "description": "Controlled vocabulary with corpus counts.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/wats.json": {
      "get": {
        "summary": "Every mapped temple of the Lanna north plus non-wat sacred sites: coordinates, province, h",
        "description": "Every mapped temple of the Lanna north plus non-wat sacred sites: coordinates, province, heritage registration, photographs (first two inline), and a lead description. The map's own data source.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/manuscript/{id}.json": {
      "get": {
        "summary": "One manuscript: metadata, images, IIIF links, OCR where present.",
        "description": "One manuscript: metadata, images, IIIF links, OCR where present.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {}
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/place/{id}.json": {
      "get": {
        "summary": "One place in full: all photographs with per-image author and licence, the complete section",
        "description": "One place in full: all photographs with per-image author and licence, the complete sectioned Wikipedia article in Thai and English, contact and hours where recorded, and a `facets` block.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {}
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/w/{name}.json": {
      "get": {
        "summary": "W data.",
        "description": "W data.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {}
            }
          }
        },
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    }
  }
}